/* =====================
     misure macro areas
========================= */
body {
   height: 100vh;
}

.app-container {
   height: calc(100% - var(--footer-height));
}

header {
   width: var(--header-width);
}

main {
   width: calc(100% - var(--header-width));
}

/* =====================
       commons
========================= */
.desktop-hidden {
   display: none;
}
@media screen and (max-width: 600px) {
   .desktop-hidden {
      display: block;
   }

   .mobile-hidden {
      display: none;
   }
}
/* =====================
         flex
========================= */
.flex-box {
   display: flex;
}
.flex-wrap {
   flex-wrap: wrap;
}
.content-center {
   justify-content: center;
}
.content-between {
   justify-content: space-between;
}
/* =====================
        typography
========================= */
body {
   font-family: 'Montserrat', sans-serif;
}

/* =====================
        utilities
========================= */
.fluid-img {
   max-width: 100%;
}

.active {
   /* eventuale bonus con JS, onClick assegna
    .active a .entry o elementi della main>nav */
}
.list-inline {
   display: flex;
}
.scrollable {
   overflow-y: auto;
}
/* =====================
        buttons
========================= */
.btn {
   border: 2px solid white;
   border-radius: 3.125rem;
}
.btn-primary {
   color: white;
}
.btn-lg {
   padding: 0.9375rem 2rem;
}
