footer {
   background-color: var(--footer-bg);
   height: var(--footer-height);
   z-index: 6969;
   padding: 0.4rem;
}

footer.flex-box {
   justify-content: space-between;
}

.footer-left,
.footer-right {
   width: 20%;
}
:is(.footer-left, .footer-right) > * {
   /* margin: 0 1rem; */
}
.footer-center {
   width: 60%;
}

/* footer left */
.footer-left.flex-box {
   align-items: center;
}
.song-img {
   max-width: 3.75rem;
   margin-right: 0.5rem;
}
.song-buttons {
   margin-left: auto;
}
/* footer center */

.footer-center.flex-box {
   flex-direction: column;
   justify-content: space-between;
}

.control-buttons {
   align-self: center;
}

.control-buttons > * {
   margin-inline: 0.5rem;
}

.control-buttons .btn:nth-child(3) {
   margin-inline: 1.3rem;
   /* play button al centro */
}
.song-time {
   padding: 0 4rem;
   align-items: center;
}
/* ------------bars---------------- */
.bar {
   height: 0.3125rem;
   border-radius: 1.875rem;
}

.time-bar,
.volume-bar {
   background-color: #5a5a5a;
}

.time-bar {
   margin-inline: 2rem;
   flex-grow: 1;
}

.volume-bar {
   width: 35%;
}

.inner-bar {
   background-color: lightgray;
   opacity: 0;
   transition: opacity ease-out 0.5s;
}

.time-bar > .inner-bar {
   width: 30%;
}
.volume-bar > .inner-bar {
   width: 40%;
}
.bar:hover .inner-bar {
   opacity: 1;
}

/* footer right */

.footer-right.flex-box {
   justify-content: flex-end;
   align-items: center;
   gap: 1rem;
}
