footer {
   background-color: var(--footer-bg);
   height: var(--footer-height);
   z-index: 6969;
   padding: 0.4rem 0;
}

footer.flex-box {
   justify-content: space-between;
}

.footer-left,
.footer-right {
   width: 20%;
}
:is(.footer-left, .footer-right) > * {
   /* margin: 0 1rem; */
}
.footer-center {
   width: 60%;
}

/* footer left */
.footer-left.flex-box {
   align-items: center;
}
.song-img {
   max-width: 3.75rem;
   flex-shrink: 0;
}
.song-buttons {
   margin-left: auto;
}
/* footer center */

.footer-center.flex-box {
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.control-buttons > * {
   margin-inline: 0.5rem;
}

.control-buttons .btn:nth-child(3) {
   margin-inline: 1.3rem;
   /* play button al centro */
}

.song-time.flex-box .bar {
   border: 2px solid var(--footer-gray);
   width: 100%;
}
