main {
   background-color: bisque;
}

/* top bar */
.top-bar {
   /* barra incollata in alto alla viewport,
 stessa altezza di header>.logo-container */
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 6.2031rem;
   background-color: #141922;
   padding-inline: 0.375rem;
}

/* navigazione della main */
main > nav .list-inline {
   padding: 1.25rem 0;
   justify-content: center;
   flex-wrap: wrap;
   border: 2px dashed lightgreen;
}

main > nav .list-inline li {
   padding: 0 0.7rem;
}
